$header-bg-color: #4baed0;
$body-bg-color: #f5f7f8;

// form label
$label-color_1: #707070;

$header-H: 68px; // header 高度
$wrap-pad: 20px; // header padding

$leftmenu-w: 220px; // 左侧导航栏 宽度

$app-min-w: 1366px; // 页面最小宽度

$border-color_1: #acc5e5; // border颜色，input

$input-pad-default: 10px; // padding，input
$input-pad-s: 5px; // padding，input

$highlight-color_1: #4baed0;

$box-shadow_1: 0 2px 12px 0 rgba(0, 0, 0, 0.1); // 阴影, 下拉框周边

$raduis_1: 10px;
$radius_1: 10px;
